button {
    padding: 0 14px;
    font-size: 0.8em;
    margin-bottom: 0;
}

td {
    padding-left: 1px;
    padding-right: 1px;
}

input[type=checkbox] {
    margin: 0;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin-top: -3px;
}

.container {
    margin-top: 100px;
}

.editInput {
    display: inline-block;
    line-height: 38px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0;
    height: 42px;
    padding: 2px;
}

.textCenter {
    text-align: center;
}

.bottomBorderBlue {
    border-bottom-color: #1EAEDB;
}

#loaderGif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}